body {
  background-color: rgb(236, 234, 234);
  /* font-family: "Courier New", Courier, monospace;
  font-family: "Roboto", sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

.chart-container,
.chart-container02 {
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
  margin: 20px;
  text-align: center;
  /* height: 100vh; */
  width: 100vw;
  max-width: 900px;
  max-height: 800px;
  flex-direction: column; /* Stack vertically */
}

/* .chart-container02 {
  background-color: rgb(127, 165, 198);
} */

#root {
  /* overflow: hidden; Prevent scrollbars */
}
